/* CSS */

@font-face {
  font-family: 'LigatureSymbols';
  src: url('https://raw.githubusercontent.com/ilhamgusti/LigatureSymbols/master/LigatureSymbols-2.11.eot');
  src: url('https://raw.githubusercontent.com/ilhamgusti/LigatureSymbols/master/LigatureSymbols-2.11.eot')
      format('embedded-opentype'),
    url('https://raw.githubusercontent.com/ilhamgusti/LigatureSymbols/master/LigatureSymbols-2.11.woff')
      format('woff'),
    url('https://raw.githubusercontent.com/ilhamgusti/LigatureSymbols/master/LigatureSymbols-2.11.ttf')
      format('truetype'),
    url('https://raw.githubusercontent.com/ilhamgusti/LigatureSymbols/master/LigatureSymbols-2.11.svg#LigatureSymbols')
      format('svg');
  src: url('https://raw.githubusercontent.com/ilhamgusti/LigatureSymbols/master/LigatureSymbols-2.11.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ilhm,
.ilhm-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga' 1;
  -moz-font-feature-settings: 'liga' 1;
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
}

.ilhm-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

.ilhm-icon.windows:before {
  content: '\E151';
}

.ilhm-icon.left:before {
  content: '\E080';
}

.ilhm-icon.peta:before {
  content: '\E08b';
}
.ilhm-icon.hape:before {
  content: '\E078';
}
.ilhm-icon.email:before {
  content: '\E08a';
}
