@import url('fonts.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', Arial, Helvetica, sans-serif;

  a {
    text-decoration: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.057);
  background-color: #fff;

  nav {
    ul {
      display: inline-flex;
      list-style: none;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
      }

      li {
        margin: 0 1rem;

        &:hover {
          color: blueviolet;
        }
      }
    }
  }
}

body {
  background-image: url(../img/pattern.jpg);
}

.section {
  background-color: #fff;
  margin: 2.75rem auto;
  width: 80vw;
  padding: 2rem;
  border-radius: 0.275rem;

  h1 {
    text-align: center;
  }

  .post {
    // border-bottom: 1px solid black;
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.048);
    margin: 1.5rem auto;
    width: 50vw;
    cursor: pointer;
    transition: all 150ms ease-in;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.11);
      transition: all 200ms ease-in;
    }

    .post-title {
      margin-bottom: 1rem;
    }
  }

  .about-me {
    margin: 1rem auto;
    width: 50vw;

    ol {
      padding: 1rem;

      li {
        margin: 1rem;

        span {
          font-weight: bold;
        }
      }

      .ilhm-icon {
        font-weight: normal;
      }
    }
  }
}

.footer {
  background-color: #000;
  height: 5vh;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.button {
  display: inline-block;
  background-color: #013366;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem;

  &::before {
    content: '<';
    margin-right: 1rem;
  }
}

.contact-us {
  width: 50vw;
  margin: 1rem auto;
  ul {
    margin-left: 1rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}

.message-us {
  width: 50vw;
  margin: 0 auto;
  label {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    input {
      border: 1px solid black;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.3rem;
      margin-top: 0.2rem;
    }

    textarea {
      margin-top: 0.2rem;
      border-radius: 0.3rem;
      font-size: 1rem;
      padding: 0.5rem;
    }
  }

  .radio-cek {
    display: inline;
    margin: 0.3rem;
    label {
      display: inline;
    }
  }
}
