@import url("fonts.css");
* {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', Arial, Helvetica, sans-serif;
}

* a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.057);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.057);
  background-color: #fff;
}

.header nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.header nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.header nav ul li {
  margin: 0 1rem;
}

.header nav ul li:hover {
  color: blueviolet;
}

body {
  background-image: url(../img/pattern.jpg);
}

.section {
  background-color: #fff;
  margin: 2.75rem auto;
  width: 80vw;
  padding: 2rem;
  border-radius: 0.275rem;
}

.section h1 {
  text-align: center;
}

.section .post {
  padding: 1rem;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.048);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.048);
  margin: 1.5rem auto;
  width: 50vw;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.section .post:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.11);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.11);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.section .post .post-title {
  margin-bottom: 1rem;
}

.section .about-me {
  margin: 1rem auto;
  width: 50vw;
}

.section .about-me ol {
  padding: 1rem;
}

.section .about-me ol li {
  margin: 1rem;
}

.section .about-me ol li span {
  font-weight: bold;
}

.section .about-me ol .ilhm-icon {
  font-weight: normal;
}

.footer {
  background-color: #000;
  height: 5vh;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.button {
  display: inline-block;
  background-color: #013366;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.button::before {
  content: '<';
  margin-right: 1rem;
}

.contact-us {
  width: 50vw;
  margin: 1rem auto;
}

.contact-us ul {
  margin-left: 1rem;
}

.contact-us ul li {
  margin-bottom: 0.5rem;
}

.message-us {
  width: 50vw;
  margin: 0 auto;
}

.message-us label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
}

.message-us label input {
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  margin-top: 0.2rem;
}

.message-us label textarea {
  margin-top: 0.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.message-us .radio-cek {
  display: inline;
  margin: 0.3rem;
}

.message-us .radio-cek label {
  display: inline;
}
/*# sourceMappingURL=style.css.map */